* {
  font-family: Montserrat; }

body {
  background: #E1E6FA; }

/*Navbar*/
.navbar-default {
  background-color: #183152;
  border: 0; }

.navbar-default .navbar-brand {
  color: #E1E6FA; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
  background-color: #183152; }

.navbar-default .navbar-nav > li > a {
  color: #E1E6FA; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #E1E6FA;
  background-color: #183152; }

.navbar-nav {
  margin: 0px -15px; }

.navbar {
  margin-bottom: 0; }

/*Random*/
.info {
  background-color: #183152;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 5px 0px; }
  .info p {
    margin-bottom: 0; }

#infoX {
  cursor: pointer;
  margin-right: 10px; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #183152;
  position: fixed;
  z-index: 2000;
  top: 48px;
  right: 100%;
  width: 100%;
  height: 2px; }

/*Login/Register*/
.login-block {
  width: 320px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border-top: 5px solid #183152;
  margin: 0 auto; }

.login-block h1 {
  text-align: center;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px; }

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Montserrat;
  padding: 0 20px 0 20px;
  outline: none; }

.login-block input:active, .login-block input:focus {
  border: 1px solid #183152; }

.login-block button {
  width: 100%;
  height: 40px;
  background: #183152;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #183152;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  outline: none;
  cursor: pointer; }

.login-block button:hover {
  background: #183152; }

.banner {
  padding-top: 49px; }

.gall_block {
  background-color: #C4D7ED;
  padding: 1px; }

.bann_capt {
  background-color: white;
  color: #183152;
  padding-bottom: 22px;
  text-align: center;
  font: bold 36px Montserrat;
  word-wrap: break-word; }

.bann_title {
  padding: 6px 0 18px;
  width: 200px;
  margin: 0 auto 2px;
  border-bottom: 1px dashed #183152; }

.bann_capt a {
  font-size: 20px;
  color: #183152; }

.bann_capt a:hover {
  color: #183152;
  text-decoration: underline; }

.bann_capt:nth-child(odd) .bann_title {
  border-color: white; }

.bann_capt:nth-child(odd) {
  background-color: #183152;
  color: white; }

.bann_capt:nth-child(odd) a {
  color: white; }

.bann_capt:nth-child(odd) a:hover {
  color: white; }

/*# sourceMappingURL=default.css.map */
