// Color theme
$c1: #E1E6FA;
$c2: #C4D7ED;
$c3: #ABC8E2;
$c4: #375D81;
$c5: #183152;

// Font
$font: Montserrat;

// Functions
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

* {
	font-family: $font;
}

body {
	background: $c1;
}

/*Navbar*/

.navbar-default {
	background-color: $c5;
	border: 0;
}

.navbar-default .navbar-brand {
  color: $c1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
  background-color: $c5;
}

.navbar-default .navbar-nav > li > a {
  color: $c1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $c1;
  background-color: $c5;
}

.navbar-nav {
	margin: 0px -15px;
}

.navbar {
	margin-bottom: 0
}

/*Random*/

.info {
	background-color: $c5;
	@include border-radius(15px);
	border-top-right-radius:0;
	border-top-left-radius:0;
	padding: 5px 0px;

	p {
		margin-bottom: 0;
	}
}

#infoX {
	cursor: pointer;
	margin-right: 10px;
        color: white;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $c5;
  position: fixed;
  z-index: 2000;
  top: 48px;
  right: 100%;
  width: 100%;
  height: 2px;
}

/*Login/Register*/

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid $c5;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 20px;
    outline: none;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid $c5;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: $c5;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $c5;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: $c5;
}

// Polica

.banner {
    padding-top: 49px;
}

.gall_block {
    background-color: $c2;
    padding: 1px;
}

.bann_capt {
    background-color: white;
    color: $c5;
    padding-bottom: 22px;
    text-align: center;
    font: bold 36px $font;
    word-wrap: break-word;
}

.bann_title {
    padding: 6px 0 18px;
    width: 200px;
    margin: 0 auto 2px;
    border-bottom: 1px dashed $c5;
}

.bann_capt  a {
    font-size: 20px;
    color: $c5
}

.bann_capt  a:hover {
    color: $c5;
    text-decoration: underline;
}

.bann_capt:nth-child(odd) .bann_title {
  border-color: white;
}

.bann_capt:nth-child(odd) {
  background-color: $c5;
  color: white;
}

.bann_capt:nth-child(odd) a {
  color: white;
}

.bann_capt:nth-child(odd) a:hover {
    color: white;
}

